# This is a guide of how to read files of the current dataset

## Library

In [1]:
import pandas as pd

## Setup your current dir where database is located

In [31]:
curr_dir = "PUT YOUR DATASET ROOT FOLDER HERE"

# Read dynamic data

## Example

In [32]:
file = "/20231101/f8093f5eec4795c7/f8093f5eec4795c7_20231101_dynamic_2_3_4.csv"

In [33]:
df = pd.read_csv(curr_dir + file, low_memory = False)

In [34]:
df

,device_id,_timestamp,screen_status,bright_level,local_bright,bright_mode,screen_on_time,bluetooth,bluetooth_name,gps_status,...,sleep_time,frequency_core0,frequency_core1,frequency_core2,frequency_core3,frequency_core4,frequency_core5,frequency_core6,frequency_core7,foreground_app
0,f8093f5eec4795c7,2023-11-01 00:00:07,1,26,0.0,1,0,0,-1,3,...,622839.0,1804.8,1804.8,1804.8,1804.8,2016.0,2016.0,2016.0,2016.0,355.0
1,f8093f5eec4795c7,2023-11-01 00:00:31,1,26,0.0,1,0,0,-1,3,...,622839.0,1804.8,1804.8,1804.8,1804.8,2016.0,2016.0,2016.0,2016.0,355.0
2,f8093f5eec4795c7,2023-11-01 00:00:32,1,26,0.0,1,0,0,-1,3,...,622839.0,1804.8,1804.8,1804.8,1804.8,1056.0,1056.0,1056.0,1056.0,355.0
3,f8093f5eec4795c7,2023-11-01 00:00:33,1,26,0.0,1,0,0,-1,3,...,622839.0,1612.8,1612.8,1612.8,1612.8,1056.0,1056.0,1056.0,1056.0,355.0
4,f8093f5eec4795c7,2023-11-01 00:00:34,1,26,0.0,1,0,0,-1,3,...,622839.0,1804.8,1804.8,1804.8,1804.8,1056.0,1056.0,1056.0,1056.0,355.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47325,f8093f5eec4795c7,2023-11-01 23:59:50,1,19,0.0,1,0,10,-1,3,...,631282.0,1305.6,1305.6,1305.6,1305.6,1056.0,1056.0,1056.0,1056.0,355.0
47326,f8093f5eec4795c7,2023-11-01 23:59:51,1,19,0.0,1,0,10,-1,3,...,631282.0,1305.6,1305.6,1305.6,1305.6,1056.0,1056.0,1056.0,1056.0,355.0
47327,f8093f5eec4795c7,2023-11-01 23:59:52,1,19,0.0,1,0,10,-1,3,...,631282.0,1305.6,1305.6,1305.6,1305.6,1056.0,1056.0,1056.0,1056.0,355.0
47328,f8093f5eec4795c7,2023-11-01 23:59:53,1,19,0.0,1,0,10,-1,3,...,631282.0,614.4,614.4,614.4,614.4,1401.6,1401.6,1401.6,1401.6,355.0
47329,f8093f5eec4795c7,2023-11-01 23:59:54,1,19,0.0,1,0,10,-1,3,...,631282.0,1305.6,1305.6,1305.6,1305.6,1056.0,1056.0,1056.0,1056.0,355.0

In [35]:
df.shape

(47330, 65)

# Read background data

## Example

In [36]:
file = "/20240106/70a09b5174d07fff/70a09b5174d07fff_20240106_backgroundAPPS.csv"

In [37]:
df = pd.read_csv(curr_dir + file, low_memory = False)

In [38]:
df

             device_id            timestamp background_apps
0     70a09b5174d07fff  2024-01-06 00:04:59               -
1     70a09b5174d07fff  2024-01-06 00:05:05               -
2     70a09b5174d07fff  2024-01-06 00:05:10               -
3     70a09b5174d07fff  2024-01-06 00:05:16               -
4     70a09b5174d07fff  2024-01-06 00:05:21               -
...                ...                  ...             ...
3008  70a09b5174d07fff  2024-01-06 21:57:45               -
3009  70a09b5174d07fff  2024-01-06 21:57:50               -
3010  70a09b5174d07fff  2024-01-06 21:57:56               -
3011  70a09b5174d07fff  2024-01-06 22:08:31               -
3012  70a09b5174d07fff  2024-01-06 22:08:37               -

[3013 rows x 3 columns]

In [39]:
df.shape

(3013, 3)

In [40]:
df[df["background_apps"] != "-"]

,device_id,timestamp,background_apps
1085,70a09b5174d07fff,2024-01-06 15:14:44,1;2;3;5;6;8;9;10;11;12;13;14;15;16;17;18;19;20...
1191,70a09b5174d07fff,2024-01-06 15:24:31,1;2;3;5;6;8;9;10;11;12;13;14;15;16;17;18;19;20...
1192,70a09b5174d07fff,2024-01-06 15:24:37,1;2;3;5;6;8;9;10;11;12;13;14;15;16;17;18;19;20...
1193,70a09b5174d07fff,2024-01-06 15:24:42,1;2;3;4;5;6;8;9;10;11;12;13;14;15;16;17;18;19;...
1368,70a09b5174d07fff,2024-01-06 15:41:21,1;2;3;4;5;6;8;9;10;11;12;13;14;15;16;17;18;19;...

The meaning of each background app id is located in appsList files.

# Read static data

## Example

In [41]:
file = "/20230410/20230410/70a09b5174d07fff_20230410_static.csv"

In [42]:
df = pd.read_csv(curr_dir + file, low_memory = False)

In [43]:
df

,device_id,date,country_code,language,continent,local_time,time_zone,device_model,device_manufacturer,device_brand,...,usb_debug,unknown_src,battery_presence,battery_scale,battery_tech,core_numbers,battery_capacity,ram_capacity,rom_capacity,gpu_version
0,70a09b5174d07fff,2023-04-10,BR,pt,6,UTC,America/Manaus,moto g(60),motorola,motorola,...,1,0,present,100,Li-ion,8,5943.0,5917945856,115919532032,3.2

In [44]:
df.shape

(1, 27)

# Read static data

## Example

In [45]:
file = "/20230410/20230410/70a09b5174d07fff_20230410_static.csv"

In [46]:
df = pd.read_csv(curr_dir + file, low_memory = False)

In [47]:
df

,device_id,date,country_code,language,continent,local_time,time_zone,device_model,device_manufacturer,device_brand,...,usb_debug,unknown_src,battery_presence,battery_scale,battery_tech,core_numbers,battery_capacity,ram_capacity,rom_capacity,gpu_version
0,70a09b5174d07fff,2023-04-10,BR,pt,6,UTC,America/Manaus,moto g(60),motorola,motorola,...,1,0,present,100,Li-ion,8,5943.0,5917945856,115919532032,3.2

In [48]:
df.shape

(1, 27)

# Read appList data

## Example

In [51]:
file = "/appList/14e6dadbe26a7063_appList.csv"

In [53]:
df = pd.read_csv(curr_dir + file, low_memory = False)

In [55]:
df.shape

(367, 6)

In [59]:
df[df["app_is_foreground"] == 0]

,app_id,app_package,app_name,app_type,app_is_foreground,app_sdk
0,1,com.android.internal.display.cutout.emulation....,Ocultar,1,0,31
1,2,com.google.android.networkstack.tethering,Tethering,1,0,34
2,3,com.motorola.mobiledesktop.core,Mecanismo do Ready For,1,0,31
3,4,com.motorola.android.launcher.overlay.koodo,com.motorola.android.launcher.overlay.koodo,1,0,31
4,5,com.motorola.android.launcher.overlay.telus,com.motorola.android.launcher.overlay.telus,1,0,31
...,...,...,...,...,...,...
362,363,com.motorola.android.providers.chromehomepage,com.motorola.android.providers.chromehomepage,1,0,31
363,364,com.motorola.attvowifi,Chamadas por Wi-Fi,1,0,31
364,365,com.motorola.systemserver,com.motorola.systemserver,1,0,31
365,366,android.auto_generated_rro_vendor__,android.auto_generated_rro_vendor__,1,0,30
366,367,com.google.android.apps.restore,Ferramenta de restauração de dados,1,0,31

The meaning of each background app id is located in appsList files.